<h1>Uppercase Pipe</h1>
<b>{{title | uppercase}}</b><br>

<h1>Lowercase Pipe</h1>
<b>{{title  | lowercase}}</b><br>

<h1>Date Pipe</h1>
<b>{{currentdate | date:'yyyy'}}</b><br>
<b>{{currentdate | date:'fullDate'}}</b><br>

<h1>Decimal Pipe</h1>
<b>{{278.89 | number: '3.4'}}</b><br>

<h1>Currency Pipe</h1>
<b>{{6589.23 | currency:"USD"}}</b><br>

<h1>JSON Pipe</h1>
<b>{{ js | json }}</b><br>

<h1>Percent Pipe</h1>
<b>{{ 00.7645 | percent }}</b><br>

<h1>Slice Pipe</h1>
<b>{{ courses | slice:2:6 }}</b><br>