<h1 style="color: rgb(207, 3, 3);">First Angular App</h1>
<courses></courses>
Name : {{firstName}} {{lastName}} <br/>
Email : {{email}} <br>
Phone : {{phone}}<br>
Age : {{age}}<br>
Hobby : {{hobbies[0]}}<br>
Address : {{address.street}}, {{address.city}}, {{address.State}}<br><br>
<h2>Two way binding example</h2>
First Number : <input type="number" [(ngModel)]="n1"><br>
Second Number : <input type="number" [(ngModel)]="n2"><br>
<p>Sum : {{n1+n2}}</p><br><br>

<ul> 
    <li *ngFor="let employee of Employee "> 
    <h3>{{employee.id}}</h3> 
    <p> {{employee.employee_name}} </p> 
    <p> {{employee.employee_salary}} </p> 
    <p> {{employee.employee_age}} </p> 
    <p> {{employee.profile_image}} </p> 
    </li> 
</ul>